extends layout

block content
  h1 Submit A Review
  form(action="/restaurant/"+id+"/reviews" method="POST")
    label(for="name") Name
    br
    input(type="text" name="name")
    br
    label(for="date") Date
    br
    input(type="date" name="date")
    br
    label(for="rating") Review
    br
    select(name="rating")
      option(value="1") 1
      option(value="2") 2
      option(value="3") 3
      option(value="4") 4
      option(value="5") 5
    br
    label(for="description")
    br
    textarea(name="description")
    br
    button Submit
